.container-cdar {
	padding-top: 40px;
}

.sidebar-cdar {
	text-align: center;
}

.userrole { margin-top: -30px; }

body.dragging,body.dragging * {
	cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

.cdarList {
	list-style: none;
}

#jsplumb-container {
	
}

.item {
	border: 1px solid black;
	background-color: #ddddff;
	width: 100px;
	height: 100px;
}

.title {
	padding: 10px;
	padding-top: 2px;
	cursor: move;
}

.option {
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	cursor: move;
}

.connect {
	width: 100%;
	height: 20px;
	background-color: white;
	cursor: pointer;
}

.item {
	position: absolute;
	border: 1px solid black;
	background-color: #ddddff;
}

#jsplumb-container {
	position: relative;
	background-color: #EAEDEF;
	border: 1px solid gray;
	width: 100%;
	min-height: 800px;
	overflow: auto;
}

.optionList {
	padding-left: 15px;
	margin-bottom: 0px;
}

.downtree {
	position: absolute;
	bottom: 2px;
	left: 28px;
	padding-left: 10px;
	position: absolute;
	width: 1em;
	height: 1em;
	cursor: pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition: -webkit-box-shadow 0.25s ease-in;
	-moz-transition: -moz-box-shadow 0.25s ease-in;
	transition: box-shadow 0.25s ease-in;
		background-color: orange;
	background-size: 1em;
	background-image: url(../img/treedown.png);
}

.uptree {
	position: absolute;
	bottom: 2px;
	left: 44px;
	padding-left: 10px;
	position: absolute;
	width: 1em;
	height: 1em;
	cursor: pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition: -webkit-box-shadow 0.25s ease-in;
	-moz-transition: -moz-box-shadow 0.25s ease-in;
	transition: box-shadow 0.25s ease-in;
background-color: orange;
	background-size: 1em;
	background-image: url(../img/treeup.png);
}

.draglink{
		background-image: url(../img/circle.png);	
			background-size: 1em;		
}

.selectednode{
	background-color: #beebff;
}