<div id="sidebar-wrapper">
	<div data-ng-show="UserService.getIsProducer()=='false'">
		<ul class="sidebar-nav">
			<li class="sidebar-brand sidebar-cdar"><a href="#/homeconsumer"><strong>CDAR</strong></a></li>
			<li><a href="#/homeconsumer">Tree Overview</a></li>
			<li><a href="#/account">Account</a></li>
			<li><a href="#/logout">Logout</a></li>
		</ul>
	</div>
	<div data-ng-show="UserService.getIsProducer()=='true'">
		<ul class="sidebar-nav">
			<li class="sidebar-brand sidebar-cdar"><a href="#/homeproducer"><strong>CDAR</strong></a></li>
			<li><a href="#/homeproducer">Tree Overview</a></li>
			<li><a href="#/account">Account</a></li>
			<li><a href="#/logout">Logout</a></li>
		</ul>
	</div>
</div>