<div class="container-fluid">
	<div class="col-md-12">
		<div id="login">
			<div class="container">
				<form id="formLogin" class="form-signin" data-role="form"
					data-ng-submit="login()">
					<h2 class="form-signin-heading">Please sign in</h2>
					<input class="form-control" placeholder="Username" required
						autofocus data-ng-model="credentials.username" /> <input
						type="password" class="form-control" placeholder="Password"
						required data-ng-model="credentials.password" />
					<div data-ng-hide="loading">
						<div class="checkbox">
							<label><input type="checkbox" data-ng-model="chkbKnowledgeProducer"><b>Log in as {{DescriptionService.getProducerDescription()}}</b></label>
						</div>
						<button class="btn btn-lg btn-success btn-block" type="submit">Sign
							in</button>
						<a class="btn btn-lg btn-primary btn-block" href="#/registration">Register</a>
					</div>
					<img degrees='angle' rotate id='image' src='app/img/ajax-loader.gif' data-ng-show="loading"/>
				</form>
			</div>
		</div>
	</div>
</div>

