<div class="">
	<div class="col-md-5"></div>
	<div class="col-md-2">
		<div id="register">
			<div class="">
				<form name="signup_form" class="" data-role="form"
					data-ng-submit="register()">
					<h2 class="form-signin-heading">Registration</h2>
					
					<input id="username" class="form-control input-lg cdar-register" placeholder="Username"
						onbeforesave="updateUser($data)" required autofocus
						data-ng-model="credentials.username" /> 
						
						<input type="password"
						class="form-control input-lg cdar-register" placeholder="Password" required
						data-ng-model="credentials.password" />
						
						<input type="password"
						class="form-control input-lg cdar-register" placeholder="Confirm Password" required
						data-ng-model="credentials.confirmpassword" />
					<button class="btn btn-lg btn-success btn-block cdar-register" type="submit"
						data-ng-hide="loading">Register</button>
					<a class="btn btn-lg btn-primary btn-block" href="#/login">Back To Login</a>
					<img degrees='angle' rotate id='image'
						src='app/img/ajax-loader.gif' data-ng-show="loading" />
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-5"></div>
</div>
