<div class="navbar navbar-inverse navbar-fixed-top"
	data-role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/home">CDAR</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li data-ng-show="UserService.isLogged"><a href="#">Login</a></li>
				<li data-ng-hide="UserService.isLogged"><a
					data-ng-click="logout()" href="">Logout</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container-cdar">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="#/home">Home</a></li>
					<li><a href="#/knowledgetrees">Knowledge Trees</a></li>
					<li><a href="#">Link 2</a></li>
					<li><a href="#">Link 3</a></li>
					<li><a href="#">Link 4</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div id="home" class="row">
					<div class="container">
						<div class="large-6 large-offset-3">
							<h2>{{ title }}</h2>

							<div class="alert-box">{{ message }}</div>

							<ul class="small-block-grid-2">
								<li><img class="th" src="app/img/demo1.jpg"
									data-shows-message-when-hovered message="Im the first house."></li>
								<li><img class="th" src="app/img/demo2.jpg"
									data-shows-message-when-hovered message="Im the second house."></li>
							</ul>

							<div class="row">
								<div class="large-12 columns">
									<button class="button large expand radius"
										data-ng-click="logout()">Log Out</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


