<div id="wrapper">
    <div ng-include src="'templates/navigation.html'"></div>
    
        <div id="page-content-wrapper">
        	<div class="row">
	            <div class="content-header">
		            <div class="col-md-9">
		                <h1>
		                    <a id="menu-toggle" class="btn btn-default"><i class="icon-reorder"></i></a>
		                    CDAR - Knowledge Producer
		                </h1>
		            </div>
		            <div ng-include src="'templates/heading.html'"></div>
	            </div>
            </div>
            <div class="page-content inset">
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">Knowledge tree overview</p>
                    </div>
                    <div class="col-md-12">
									<table class="table table-bordered table-striped table-condensed table-hover">
										<thead>
											<tr>
												<th class="col-md-1">#</th>
												<th class="col-md-3">Title</th>
												<th class="col-md-4">Edit title</th>
												<th class="col-md-2">Report</th>
												<th class="col-md-2">Delete</th>
											</tr>
										</thead>
										<tbody>
											<tr
												data-ng-repeat="tree in knowledgeTrees | orderBy:'id':false">
												<td>{{$index+1}}</td>
												<td><a href="#/knowledgetree/{{tree.id}}">{{tree.title}}</a></td>
												<td>
													<a href="#" editable-text="tree.title" onbeforesave="saveKnowledgeTreeTitle($data, tree.id)">edit title</a>
												</td>
												<td><a href="reporting/producer.jsp?treeid={{tree.id}}" target="_blank">Show report</a>
												<td><a data-ng-click="deleteTree(tree.id)" href="">Delete
														Tree</a></td>
											</tr>
											<tr>
												<td></td>
												<td colspan="4">
												<form id="formAddTree" data-role="form" data-ng-submit="addNewTree()">
												<div class="input-append">
													<input class="form-horizontal" placeholder="knowledge treename" required autofocus data-ng-model="newTreeName" />
													<button class="btn btn-success" type="submit">Add knowledge tree</button>
												</div>
												</form>
												</td>
											</tr>
										</tbody>
									</table>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
