<div class="navbar navbar-inverse navbar-fixed-top"
	data-role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/home">CDAR</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li data-ng-hide="UserService.isLoggedIn()"><a href="#">Login</a></li>
				<li data-ng-show="UserService.isLoggedIn()"><a
					data-ng-click="logout()" href="">Logout</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container-cdar">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="#/home">Home</a></li>
					<li><a href="#/knowledgetrees">Knowledge Trees</a></li>
					<li><a href="#">Link 2</a></li>
					<li><a href="#">Link 3</a></li>
					<li><a href="#">Link 4</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div id="home" class="row">
					<div class="container">
						<div class="large-6 large-offset-3">
							<h1 class="page-header">Your Knowledge Trees:</h1>
							<form id="formAddTree" data-role="form"
								data-ng-submit="addNewTree()">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Delete</th>
										</tr>
									</thead>
									<tbody>
										<tr
											data-ng-repeat="tree in knowledgeTrees | orderBy:'id':false">
											<td>{{$index+1}}</td>
											<td><a href="#/knowledgetree/{{tree.id}}">{{tree.name}}</a></td>
											<td><a data-ng-click="deleteTree(tree.id)" href="">Delete
													Tree</a></td>
										</tr>
										<tr>
											<td></td>
											<td><div class="input-append">
													<input class="form-horizontal" placeholder="Treename" required
														autofocus data-ng-model="newTreeName" />
													<button class="btn btn-success" type="submit">Add
														tree</button>
												</div></td>
											<td></td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


