<div id="wrapper">
	<div ng-include src="'templates/navigation.html'"></div>

		<div id="page-content-wrapper">
			<div class="row">
				<div class="content-header">
					<div class="col-md-9">
						<h1>
							<a id="menu-toggle" class="btn btn-default"><i
								class="icon-reorder"></i></a> CDAR - Knowledge Producer
						</h1>
					</div>
					<div ng-include src="'templates/heading.html'"></div>
				</div>
			</div>
			<div class="page-content inset">
				<div class="row">
					<div class="col-md-2">
						<a class="btn btn-md btn-primary btn-block"
							href="#/knowledgetree/{{knowledgetree.id}}">back to tree</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="lead">Manage Templates for tree:
							{{knowledgetree.title}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h1>Knowledge Producer Templates</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="col-md-1">#</th>
										<th class="col-md-3">Name</th>
										<th class="col-md-3">Edit title</th>
										<th class="col-md-3">Default</th>
										<th class="col-md-2">Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="template in templates | filter : { decisionMade : false } | orderBy:'id':false">
										<td>{{$index+1}}</td>
										<td><a data-ng-click="changeTemplate(template.id)"
											href="">{{template.title}}</a></td>
										<td>
											<a href="#" editable-text="template.title" onbeforesave="editTemplateTitle($data, template.id)">edit title</a>
										</td>
										<td><a data-ng-click="setDefaultTemplate(template.id)"
											href=""> {{template.isDefault}} </a></td>
										<td><a data-ng-click="deleteTemplate(template.id)"
											href="">Delete Template</a></td>
									</tr>
									<tr>
										<td></td>
										<td>
											<form id="formTemplates" data-role="form" data-ng-submit="addNewTemplate(false)">
												<div class="input-append">
													<input class="form-horizontal" placeholder="template name"
														required autofocus data-ng-model="newProducerTemplateName" />
													<button class="btn btn-success" type="submit">Add
														template</button>
												</div>
											</form>
										</td>
										<td colspan="3"></td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h1>Knowledge Consumer Templates</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="col-md-1">#</th>
										<th class="col-md-3">Name</th>
										<th class="col-md-3">Edit title</th>
										<th class="col-md-3">Default</th>
										<th class="col-md-2">Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="template in templates | filter : { decisionMade : true } | orderBy:'id':false">
										<td>{{$index+1}}</td>
										<td><a data-ng-click="changeTemplate(template.id)"
											href="">{{template.title}}</a></td>
										<td>
											<a href="#" editable-text="template.title" onbeforesave="editTemplateTitle($data, template.id)">edit title</a>
										</td>
										<td><a data-ng-click="setDefaultTemplate(template.id)"
											href=""> {{template.isDefault}} </a></td>
										<td><a data-ng-click="deleteTemplate(template.id)"
											href="">Delete Template</a></td>
									</tr>
									<tr>
										<td></td>
										<td>
											<form id="formTemplates" data-role="form" data-ng-submit="addNewTemplate(true)">
												<div class="input-append">
													<input class="form-horizontal" placeholder="template name"
														required autofocus data-ng-model="newConsumerTemplateName" />
													<button class="btn btn-success" type="submit">Add
														template</button>
												</div>
											</form>
										</td>
										<td colspan="3"></td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12" class="well">
						<h3>Selected template:</h3>
						<div id="wiki" data-ng-show="selectedTemplateId">
							<tabset justified="true" class="well"> <tab
								heading="{{tabs[0].title}}" id="wikiread"
								active="tabs[0].active">
							<p data-ng-bind-html="templateHtml" />
							</tab> <tab heading="{{tabs[1].title}}" id="wikiwrite"
								active="tabs[1].active">
							<form data-role="form" data-ng-submit="saveTemplate()">
								<textarea id="templateArea" name="templateArea" cols="80"
									rows="10"></textarea>
								<button class="btn btn-lg btn-success btn-block" type="submit">save</button>
							</form>
							</tab> </tabset>
						</div>
						<div id="wikiNoEntry" data-ng-hide="selectedTemplateId">
							<p class="well">no wiki entry selected</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("active");
		});
	</script>
