	<div id="wrapper">
		<div ng-include src="'templates/navigation.html'"></div>

		<div id="page-content-wrapper">
			<div class="row">
				<div class="content-header inset">
					<div class="col-md-9">
						<h3>
							<a id="menu-toggle" class="btn btn-default"><i class="icon-reorder"></i></a>
							Collaborative Decision Management and Architectural Refactoring (CDAR) Tool
						</h3>
						<h2 class="inset">{{title}}</h2>
					</div>
					<div ng-include src="'templates/heading.html'"></div>
				</div>
			</div>
			<div class="page-content inset">
				<div class="row">
					<div class="col-md-12">
						<p class="lead">Project Overview</p>
					</div>
					<div class="col-md-12">
							<table class="table table-bordered table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th class="col-md-1">#</th>
										<th class="col-md-3">Title</th>
										<th class="col-md-4">Edit title</th>
										<th class="col-md-2">Report</th>
										<th class="col-md-2">Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="tree in projectTrees | orderBy:'id':false">
										<td>{{$index+1}}</td>
										<td><a href="#/projecttree/{{tree.id}}">{{tree.title}}</a></td>
										<td>
											<a href="#" editable-text="tree.title" onbeforesave="saveProjectTreeTitle($data, tree.id)">edit title</a>
										</td>
										<td><a href="reporting/consumer.jsp?treeid={{tree.id}}&uid={{UserService.getUserId()}}&accesstoken={{UserService.getAccesstoken()}}" target="_blank">Show report</a></td>
										<td><a data-ng-click="deleteTree(tree.id)" href="">Delete
												Tree</a></td>
									</tr>
									<tr>
										<td></td>
											<td colspan="4">
												<form id="formAddTree" data-role="form" data-ng-submit="addNewTree()">
													<input class="form-horizontal" placeholder="Tree title"
														required autofocus data-ng-model="newTreeName" />
													<select class="form-horizontal" id="knowledgeTreeList" data-ng-model="selectedktreeId">
														<option style="display:none" value="">select a tree</option>
														<option
															data-ng-repeat="tree in knowledgetrees | orderBy:'id':false"
															value="{{tree.id}}">{{tree.title}}</option>
													</select>
													<button class="btn btn-success" type="submit">Add tree</button>
												</form>
											</td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("active");
		});
	</script>
</body>
