
<body>
	<div id="wrapper">

		<cdar-navigation></cdar-navigation>

		<div id="page-content-wrapper">
			<div class="content-header">
				<div class="col-md-8">
					<h1>
						<a id="menu-toggle" class="btn btn-default"><i
							class="icon-reorder"></i></a> Project Tree: {{projecttree.title}}
					</h1>
				</div>
				<div class="col-md-4" style="text-align: right">
					<h3>
						<a href="#/account" style="color: inherit; text-decoration: none;">
							<span><img src="app/img/user.png" height="42" width="42" /></span>
							<span>{{UserService.user.username}}</span>
						</a>
					</h3>
				</div>
			</div>

			<div class="page-content inset">
				<div class="row">
					<div class="col-md-4">
						<h3>STATIC TREE</h3>
						<ul>
							<li data-ng-repeat="node in nodes | orderBy:'id':false"><a
								href="" data-ng-click="changeNode(node.id)">{{node.title}}</a></li>
						</ul>

						<h4>Knowledge Tree Add:</h4>
						<div id="addKnowledgeTree" class="row">
							<form data-role="form">
								<div class="col-xs-6">
									<select class="form-control input-sm" id="knowledgeTreeList"
										data-ng-model="selectedktreeId">
										<option style="display:none" value="">select a tree</option>
										<option
											data-ng-repeat="tree in knowledgetrees | orderBy:'id':false"
											value="{{tree.id}}">{{tree.title}}</option>
									</select>
								</div>
								<div class="col-xs-6">
									<button class="btn btn-primary btn-xs" type="submit"
										data-ng-click="addKnowledgeTree()">add tree</button>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-8">
						<h3>DYNAMIC TREE</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>MADE DECISIONS</h3>
					</div>
					<div class="col-md-12">
						<h3>WikiEntry of Current node</h3>
						<p class="well" data-ng-bind-html="wikiText" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("active");
		});
	</script>
</body>
