<div id="wrapper">
	<div ng-include src="'templates/navigation.html'"></div>

		<div id="page-content-wrapper">
			<div class="row">
				<div class="content-header inset">
					<div class="col-md-9">
						<h3>
							<div data-ng-show="UserService.getIsProducer()==='true'"><a id="menu-toggle" class="btn btn-default"><i class="icon-reorder"></i></a> CDAR - Knowledge Producer</div>
							<div data-ng-show="UserService.getIsProducer()==='false'"><a id="menu-toggle" class="btn btn-default"><i class="icon-reorder"></i></a> CDAR - Knowledge Consumer</div>
						</h3>
						<h3>
							Import/Export: {{knowledgetree.name}}
						</h3>
					</div>
					<div ng-include src="'templates/heading.html'"></div>
				</div>
			</div>
			<div class="page-content inset">
				<div class="row">
					<div class="col-md-2">
						<div data-ng-show="UserService.getIsProducer()==='true'"><a class="btn btn-md btn-primary btn-block" href="#/knowledgetree/{{tree.id}}">back to knowledgetree</a></div>
						<div data-ng-show="UserService.getIsProducer()==='false'"><a class="btn btn-md btn-primary btn-block" href="#/projecttree/{{tree.id}}">back to projecttree</a></div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<h1>Import from File</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<input class="btn form-horizontal" type="file" id="file" name="file"/>
					</div>
					<div class="col-md-3">
						<button class="btn btn-success col-md-3" ng-click="add()">Add</button>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<h1>Simple Import/Export (with Wiki-References)</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
							<table class="table table-bordered table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th class="col-md-1">#</th>
										<th class="col-md-1">Date</th>
										<th class="col-md-3">Title</th>
										<th class="col-md-2">Set it</th>
										<th class="col-md-2">Export</th>
										<th class="col-md-2">Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="xmltree in xmlTrees | orderBy:'id':false | filter : { isFull : false }" >
										<td>{{$index+1}}</td>
										<td>{{xmltree.creationTime}}</td>
										<td><a href="#" editable-text="xmltree.title" onbeforesave="saveXmlTreeTitle($data, xmltree.id)">{{xmltree.title}}</a></td>
										<td><a data-ng-click="showImportTreeModal(xmltree.title, xmltree.id)" href="">Import Data</a></td>
										<td><a href="{{getXmlFileString(xmltree.id)}}" target="_blank">Save</a></td>
										<td><a data-ng-click="deleteXmlTree(xmltree.id)" href="">Delete XmlTree</a></td>
									</tr>
									<tr>
										<td colspan="2"></td>
										<td colspan="4">
											<form id="formTreeXml" data-role="form" data-ng-submit="addNewSimpleXmlTree()">
												<div class="input-append">
													<input class="form-horizontal" placeholder="export name" required autofocus data-ng-model="newSimpleTreeName" />
													<button class="btn btn-success" type="submit">Create new Simple Export</button>
												</div>
											</form>
										</td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h1>Full Import/Export (copying current wiki-entires)</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-bordered table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th class="col-md-1">#</th>
										<th class="col-md-1">Date</th>
										<th class="col-md-3">Title</th>
										<th class="col-md-2">Import</th>
										<th class="col-md-2">Export</th>
										<th class="col-md-2">Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="xmltree in xmlTrees | orderBy:'id':false | filter : { isFull : true }" >
										<td>{{$index+1}}</td>
										<td>{{xmltree.creationTime}}</td>
										<td><a href="#" editable-text="xmltree.title" onbeforesave="saveXmlTreeTitle($data, xmltree.id)">{{xmltree.title}}</a></td>
										<td><a data-ng-click="showImportTreeModal(xmltree.title, xmltree.id)" href="">Import Data</a></td>
										<td><a href="{{getXmlFileString(xmltree.id)}}" target="_blank">Save</a></td>
										<td><a data-ng-click="deleteXmlTree(xmltree.id)" href="">Delete XmlTree</a></td>
									</tr>
									<tr>
										<td colspan="2"></td>
										<td colspan="4">
											<form id="formTreeXml" data-role="form" data-ng-submit="addNewFullXmlTree()">
												<div class="input-append">
													<input class="form-horizontal" placeholder="export name" required autofocus data-ng-model="newFullTreeName" />
													<button class="btn btn-success" type="submit">Create new Full Export</button>
												</div>
											</form>
										</td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="importTreeModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
     <div class="modal-dialog modal-sm">
       <div class="modal-content">
 
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title" id="modalLabel">Import XML Tree: {{importTitle}}</h4>
         </div>
         <div class="modal-body">
	         <div class="panel panel-default">
				  <div class="panel-body">
				    Do you want to overwrite your existing tree?
				  </div>
				</div>
 	        <div class="alert alert-warning">If the selected export data is corrupted, your current tree may be gone forever!</div>
 	        
 			<a href="" class="btn btn-primary" type="submit" data-ng-click="setExport(true)">YES</a>
 			<a href="" class="btn btn-success" type="submit" data-ng-click="setExport(false)">NO</a>
 			<a href="" class="btn btn-default" data-dismiss="modal">Cancel</a>
         </div>
       </div>
     </div>
   </div>

	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("active");
		});
	</script>
